<div class="row">
<form [formGroup]="userForm">
    <div class="input-group">
        <input class="form-control" type="text" formControlName="firstName" />
    </div>
    <div class="input-group">
        <input class="form-control" type="text" formControlName="lastName" />
    </div>
    <div class="input-group">
        <input class="form-control" type="text" formControlName="age" />
    </div>
    <div class="input-group">
        <input class="form-control" type="textarea" formControlName="description" />
    </div>

    <div class="input-group">
        <button type="button" class="btn btn-primary" title="Save editions" (click)="deleteCheckedItems()">Save</button>
        <button type="button" class="btn btn-secondary" title="Cancel and go back to list" data-target="#exampleModal" (click)="modalHandler()">Cancel</button>
    </div>
    <app-modal [openModal]="openModal" [titulo]="tituloModal" [body]="bodyModal" (confirmEvent)="returnToList()" (deniedEvent)="closeModal()"></app-modal>
</form>
</div>