<div class="top-items">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput [(ngModel)]="searchFilter" type="text" placeholder="Search for an user name">
      </mat-form-field>
    </div>
 
    <div class="col-md-6 button-group">
      <div class="input-group">
        <a class="btn btn-success" title="Download JSON" (click)="generateDownloadJsonUri()" [href]="downloadJsonHref" download="users.json" >Download JSON</a>
        <a class="btn btn-success" title="Download CSV" (click)="generateDownloadCSV()">Download CSV</a>
        <a><button class="btn btn-danger" title="Delete selected items" (click)="deleteCheckedItems()" [disabled]="nrSelectedItems === 0">Delete</button></a>
      </div>
    </div>
  </div>

<app-user-table [users]="users" [searchFilter]="searchFilter" 
  (changedNrUsers)="getNumberOfSelectedUsers()" *ngIf="deviceWidth >= 1024">
</app-user-table>

<app-user-card [users]="users" [searchFilter]="searchFilter" 
  (changedNrUsers)="getNumberOfSelectedUsers()" *ngIf="deviceWidth < 1024">
</app-user-card>