<div class="row">
<div class="input-group">
    <input class="form-control" [(ngModel)]="searchFilter" type="text" placeholder="Search for an user name"/>
</div>
<div class="input-group">
    <button type="button" class="btn btn-danger" title="Delete selected items" (click)="deleteCheckedItems()" [disabled]="nrSelectedItems == 0">Delete</button>
</div>

<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><input type="checkbox"/></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Delete</th>
      <th>Details</th>
    </tr>
  </thead>
  <tr *ngFor="let user of users | filter : searchFilter">
    <td><input type="checkbox" value="{{user.id}}" [(ngModel)]="user.checked" (change)="numberOfSelectedItems()"></td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.age}}</td>
    <td></td>
    <td><a [routerLink]="['/users', user.id]">Details</a></td>
  </tr>
</table>
</div>