<div class="row">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Details</th>
      </tr>
    </thead>
    <tr *ngFor="let user of users | filter : searchFilter">
      <td>
        <input type="checkbox" value="{{user.id}}" [(ngModel)]="user.checked" (change)="numberOfSelectedItems()">
      </td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
      <td class="text-center"><a><mat-icon (click)="deleteItem(user.id)">delete</mat-icon></a></td>
      <td class="text-center">
        <a [routerLink]="['/users', user.id]"><mat-icon>edit</mat-icon></a>
      </td>
    </tr>
  </table>
</div>